<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 60px;margin-bottom: 10px">
  <a class="navbar-brand" href="#" id="title">{{title}}</a>

  <ul class="list-inline" style="padding-top:20px;">
    <li class="list-inline-item">
      <a class="nav-link" routerLink="/me">Me
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="list-inline-item">
      <a class="nav-link" routerLink="/new-cmp">New Comp</a>
    </li>
  </ul>
</nav>


<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
